<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7cb681">  <td>24/01/10 17:11:54</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_LoginTest.TC_001(java.lang.String, java.lang.String)[pri:0, instance:com.automation.testcase.TC_LoginTest@291a7e3c]">TC_001</td> 
  <td>main@242282810</td>   <td></td> </tr>
<tr bgcolor="7cb681">  <td>24/01/10 17:12:02</td>   <td>7054</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_LoginTest.TC_001(java.lang.String, java.lang.String)[pri:0, instance:com.automation.testcase.TC_LoginTest@291a7e3c]">TC_001</td> 
  <td>main@242282810</td>   <td></td> </tr>
<tr bgcolor="7cb681">  <td>24/01/10 17:12:09</td>   <td>14617</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_LoginTest.TC_001(java.lang.String, java.lang.String)[pri:0, instance:com.automation.testcase.TC_LoginTest@291a7e3c]">TC_001</td> 
  <td>main@242282810</td>   <td></td> </tr>
<tr bgcolor="7cb681">  <td>24/01/10 17:12:17</td>   <td>22298</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_LoginTest.TC_001(java.lang.String, java.lang.String)[pri:0, instance:com.automation.testcase.TC_LoginTest@291a7e3c]">TC_001</td> 
  <td>main@242282810</td>   <td></td> </tr>
<tr bgcolor="7cb681">  <td>24/01/10 17:12:25</td>   <td>30356</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_LoginTest.TC_001(java.lang.String, java.lang.String)[pri:0, instance:com.automation.testcase.TC_LoginTest@291a7e3c]">TC_001</td> 
  <td>main@242282810</td>   <td></td> </tr>
<tr bgcolor="7cb681">  <td>24/01/10 17:12:31</td>   <td>36670</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_LoginTest.TC_001(java.lang.String, java.lang.String)[pri:0, instance:com.automation.testcase.TC_LoginTest@291a7e3c]">TC_001</td> 
  <td>main@242282810</td>   <td></td> </tr>
<tr bgcolor="7cb681">  <td>24/01/10 17:12:39</td>   <td>44420</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_LoginTest.TC_001(java.lang.String, java.lang.String)[pri:0, instance:com.automation.testcase.TC_LoginTest@291a7e3c]">TC_001</td> 
  <td>main@242282810</td>   <td></td> </tr>
<tr bgcolor="c4878e">  <td>24/01/10 17:11:57</td>   <td>2993</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverInstance.closeDriver()[pri:0, instance:com.automation.testcase.TC_LoginTest@291a7e3c]">&lt;&lt;closeDriver</td> 
<td>&nbsp;</td>  <td>main@242282810</td>   <td></td> </tr>
<tr bgcolor="c4878e">  <td>24/01/10 17:12:05</td>   <td>10302</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverInstance.closeDriver()[pri:0, instance:com.automation.testcase.TC_LoginTest@291a7e3c]">&lt;&lt;closeDriver</td> 
<td>&nbsp;</td>  <td>main@242282810</td>   <td></td> </tr>
<tr bgcolor="c4878e">  <td>24/01/10 17:12:13</td>   <td>18123</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverInstance.closeDriver()[pri:0, instance:com.automation.testcase.TC_LoginTest@291a7e3c]">&lt;&lt;closeDriver</td> 
<td>&nbsp;</td>  <td>main@242282810</td>   <td></td> </tr>
<tr bgcolor="c4878e">  <td>24/01/10 17:12:21</td>   <td>26372</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverInstance.closeDriver()[pri:0, instance:com.automation.testcase.TC_LoginTest@291a7e3c]">&lt;&lt;closeDriver</td> 
<td>&nbsp;</td>  <td>main@242282810</td>   <td></td> </tr>
<tr bgcolor="c4878e">  <td>24/01/10 17:12:27</td>   <td>32396</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverInstance.closeDriver()[pri:0, instance:com.automation.testcase.TC_LoginTest@291a7e3c]">&lt;&lt;closeDriver</td> 
<td>&nbsp;</td>  <td>main@242282810</td>   <td></td> </tr>
<tr bgcolor="c4878e">  <td>24/01/10 17:12:35</td>   <td>40463</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverInstance.closeDriver()[pri:0, instance:com.automation.testcase.TC_LoginTest@291a7e3c]">&lt;&lt;closeDriver</td> 
<td>&nbsp;</td>  <td>main@242282810</td>   <td></td> </tr>
<tr bgcolor="c4878e">  <td>24/01/10 17:12:42</td>   <td>47463</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverInstance.closeDriver()[pri:0, instance:com.automation.testcase.TC_LoginTest@291a7e3c]">&lt;&lt;closeDriver</td> 
<td>&nbsp;</td>  <td>main@242282810</td>   <td></td> </tr>
<tr bgcolor="c4878e">  <td>24/01/10 17:11:47</td>   <td>-7425</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DriverInstance.startDriver()[pri:0, instance:com.automation.testcase.TC_LoginTest@291a7e3c]">&gt;&gt;startDriver</td> 
<td>&nbsp;</td>  <td>main@242282810</td>   <td></td> </tr>
<tr bgcolor="c4878e">  <td>24/01/10 17:11:58</td>   <td>3191</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DriverInstance.startDriver()[pri:0, instance:com.automation.testcase.TC_LoginTest@291a7e3c]">&gt;&gt;startDriver</td> 
<td>&nbsp;</td>  <td>main@242282810</td>   <td></td> </tr>
<tr bgcolor="c4878e">  <td>24/01/10 17:12:05</td>   <td>10687</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DriverInstance.startDriver()[pri:0, instance:com.automation.testcase.TC_LoginTest@291a7e3c]">&gt;&gt;startDriver</td> 
<td>&nbsp;</td>  <td>main@242282810</td>   <td></td> </tr>
<tr bgcolor="c4878e">  <td>24/01/10 17:12:13</td>   <td>18299</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DriverInstance.startDriver()[pri:0, instance:com.automation.testcase.TC_LoginTest@291a7e3c]">&gt;&gt;startDriver</td> 
<td>&nbsp;</td>  <td>main@242282810</td>   <td></td> </tr>
<tr bgcolor="c4878e">  <td>24/01/10 17:12:21</td>   <td>26644</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DriverInstance.startDriver()[pri:0, instance:com.automation.testcase.TC_LoginTest@291a7e3c]">&gt;&gt;startDriver</td> 
<td>&nbsp;</td>  <td>main@242282810</td>   <td></td> </tr>
<tr bgcolor="c4878e">  <td>24/01/10 17:12:27</td>   <td>32637</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DriverInstance.startDriver()[pri:0, instance:com.automation.testcase.TC_LoginTest@291a7e3c]">&gt;&gt;startDriver</td> 
<td>&nbsp;</td>  <td>main@242282810</td>   <td></td> </tr>
<tr bgcolor="c4878e">  <td>24/01/10 17:12:35</td>   <td>40610</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DriverInstance.startDriver()[pri:0, instance:com.automation.testcase.TC_LoginTest@291a7e3c]">&gt;&gt;startDriver</td> 
<td>&nbsp;</td>  <td>main@242282810</td>   <td></td> </tr>
</table>
