<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a4a37a">  <td>24/04/05 09:58:27</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DriverInstance.startDriver()[pri:0, instance:com.automation.testcase.TC_LoginTest@74ea2410]">&gt;&gt;startDriver</td> 
<td>&nbsp;</td>  <td>main@2095486832</td>   <td></td> </tr>
<tr bgcolor="d2d9cb">  <td>24/04/05 09:58:31</td>   <td>4023</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_LoginTest.TC_001(java.lang.String, java.lang.String)[pri:0, instance:com.automation.testcase.TC_LoginTest@74ea2410]">TC_001</td> 
  <td>main@2095486832</td>   <td></td> </tr>
<tr bgcolor="a4a37a">  <td>24/04/05 09:58:34</td>   <td>7178</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverInstance.closeDriver()[pri:0, instance:com.automation.testcase.TC_LoginTest@74ea2410]">&lt;&lt;closeDriver</td> 
<td>&nbsp;</td>  <td>main@2095486832</td>   <td></td> </tr>
<tr bgcolor="a4a37a">  <td>24/04/05 09:58:34</td>   <td>7355</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DriverInstance.startDriver()[pri:0, instance:com.automation.testcase.TC_LoginTest@74ea2410]">&gt;&gt;startDriver</td> 
<td>&nbsp;</td>  <td>main@2095486832</td>   <td></td> </tr>
<tr bgcolor="d2d9cb">  <td>24/04/05 09:58:38</td>   <td>10978</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_LoginTest.TC_001(java.lang.String, java.lang.String)[pri:0, instance:com.automation.testcase.TC_LoginTest@74ea2410]">TC_001</td> 
  <td>main@2095486832</td>   <td></td> </tr>
<tr bgcolor="a4a37a">  <td>24/04/05 09:58:41</td>   <td>14229</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverInstance.closeDriver()[pri:0, instance:com.automation.testcase.TC_LoginTest@74ea2410]">&lt;&lt;closeDriver</td> 
<td>&nbsp;</td>  <td>main@2095486832</td>   <td></td> </tr>
<tr bgcolor="a4a37a">  <td>24/04/05 09:58:41</td>   <td>14356</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DriverInstance.startDriver()[pri:0, instance:com.automation.testcase.TC_LoginTest@74ea2410]">&gt;&gt;startDriver</td> 
<td>&nbsp;</td>  <td>main@2095486832</td>   <td></td> </tr>
<tr bgcolor="d2d9cb">  <td>24/04/05 09:58:46</td>   <td>18998</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_LoginTest.TC_001(java.lang.String, java.lang.String)[pri:0, instance:com.automation.testcase.TC_LoginTest@74ea2410]">TC_001</td> 
  <td>main@2095486832</td>   <td></td> </tr>
<tr bgcolor="a4a37a">  <td>24/04/05 09:58:49</td>   <td>22198</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverInstance.closeDriver()[pri:0, instance:com.automation.testcase.TC_LoginTest@74ea2410]">&lt;&lt;closeDriver</td> 
<td>&nbsp;</td>  <td>main@2095486832</td>   <td></td> </tr>
<tr bgcolor="a4a37a">  <td>24/04/05 09:58:49</td>   <td>22312</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DriverInstance.startDriver()[pri:0, instance:com.automation.testcase.TC_LoginTest@74ea2410]">&gt;&gt;startDriver</td> 
<td>&nbsp;</td>  <td>main@2095486832</td>   <td></td> </tr>
<tr bgcolor="d2d9cb">  <td>24/04/05 09:58:53</td>   <td>25826</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_LoginTest.TC_001(java.lang.String, java.lang.String)[pri:0, instance:com.automation.testcase.TC_LoginTest@74ea2410]">TC_001</td> 
  <td>main@2095486832</td>   <td></td> </tr>
<tr bgcolor="a4a37a">  <td>24/04/05 09:58:56</td>   <td>28965</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverInstance.closeDriver()[pri:0, instance:com.automation.testcase.TC_LoginTest@74ea2410]">&lt;&lt;closeDriver</td> 
<td>&nbsp;</td>  <td>main@2095486832</td>   <td></td> </tr>
<tr bgcolor="a4a37a">  <td>24/04/05 09:58:56</td>   <td>29105</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DriverInstance.startDriver()[pri:0, instance:com.automation.testcase.TC_LoginTest@74ea2410]">&gt;&gt;startDriver</td> 
<td>&nbsp;</td>  <td>main@2095486832</td>   <td></td> </tr>
<tr bgcolor="d2d9cb">  <td>24/04/05 09:59:00</td>   <td>33506</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_LoginTest.TC_001(java.lang.String, java.lang.String)[pri:0, instance:com.automation.testcase.TC_LoginTest@74ea2410]">TC_001</td> 
  <td>main@2095486832</td>   <td></td> </tr>
<tr bgcolor="a4a37a">  <td>24/04/05 09:59:02</td>   <td>35406</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverInstance.closeDriver()[pri:0, instance:com.automation.testcase.TC_LoginTest@74ea2410]">&lt;&lt;closeDriver</td> 
<td>&nbsp;</td>  <td>main@2095486832</td>   <td></td> </tr>
<tr bgcolor="a4a37a">  <td>24/04/05 09:59:02</td>   <td>35581</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DriverInstance.startDriver()[pri:0, instance:com.automation.testcase.TC_LoginTest@74ea2410]">&gt;&gt;startDriver</td> 
<td>&nbsp;</td>  <td>main@2095486832</td>   <td></td> </tr>
<tr bgcolor="d2d9cb">  <td>24/04/05 09:59:07</td>   <td>40512</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_LoginTest.TC_001(java.lang.String, java.lang.String)[pri:0, instance:com.automation.testcase.TC_LoginTest@74ea2410]">TC_001</td> 
  <td>main@2095486832</td>   <td></td> </tr>
<tr bgcolor="a4a37a">  <td>24/04/05 09:59:11</td>   <td>43809</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverInstance.closeDriver()[pri:0, instance:com.automation.testcase.TC_LoginTest@74ea2410]">&lt;&lt;closeDriver</td> 
<td>&nbsp;</td>  <td>main@2095486832</td>   <td></td> </tr>
<tr bgcolor="a4a37a">  <td>24/04/05 09:59:11</td>   <td>43917</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DriverInstance.startDriver()[pri:0, instance:com.automation.testcase.TC_LoginTest@74ea2410]">&gt;&gt;startDriver</td> 
<td>&nbsp;</td>  <td>main@2095486832</td>   <td></td> </tr>
<tr bgcolor="d2d9cb">  <td>24/04/05 09:59:14</td>   <td>47538</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_LoginTest.TC_001(java.lang.String, java.lang.String)[pri:0, instance:com.automation.testcase.TC_LoginTest@74ea2410]">TC_001</td> 
  <td>main@2095486832</td>   <td></td> </tr>
<tr bgcolor="a4a37a">  <td>24/04/05 09:59:17</td>   <td>50560</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverInstance.closeDriver()[pri:0, instance:com.automation.testcase.TC_LoginTest@74ea2410]">&lt;&lt;closeDriver</td> 
<td>&nbsp;</td>  <td>main@2095486832</td>   <td></td> </tr>
</table>
