<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="d2d9cb">  <td>24/04/05 09:58:31</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_LoginTest.TC_001(java.lang.String, java.lang.String)[pri:0, instance:com.automation.testcase.TC_LoginTest@74ea2410]">TC_001</td> 
  <td>main@2095486832</td>   <td></td> </tr>
<tr bgcolor="d2d9cb">  <td>24/04/05 09:58:38</td>   <td>6955</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_LoginTest.TC_001(java.lang.String, java.lang.String)[pri:0, instance:com.automation.testcase.TC_LoginTest@74ea2410]">TC_001</td> 
  <td>main@2095486832</td>   <td></td> </tr>
<tr bgcolor="d2d9cb">  <td>24/04/05 09:58:46</td>   <td>14975</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_LoginTest.TC_001(java.lang.String, java.lang.String)[pri:0, instance:com.automation.testcase.TC_LoginTest@74ea2410]">TC_001</td> 
  <td>main@2095486832</td>   <td></td> </tr>
<tr bgcolor="d2d9cb">  <td>24/04/05 09:58:53</td>   <td>21803</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_LoginTest.TC_001(java.lang.String, java.lang.String)[pri:0, instance:com.automation.testcase.TC_LoginTest@74ea2410]">TC_001</td> 
  <td>main@2095486832</td>   <td></td> </tr>
<tr bgcolor="d2d9cb">  <td>24/04/05 09:59:00</td>   <td>29483</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_LoginTest.TC_001(java.lang.String, java.lang.String)[pri:0, instance:com.automation.testcase.TC_LoginTest@74ea2410]">TC_001</td> 
  <td>main@2095486832</td>   <td></td> </tr>
<tr bgcolor="d2d9cb">  <td>24/04/05 09:59:07</td>   <td>36489</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_LoginTest.TC_001(java.lang.String, java.lang.String)[pri:0, instance:com.automation.testcase.TC_LoginTest@74ea2410]">TC_001</td> 
  <td>main@2095486832</td>   <td></td> </tr>
<tr bgcolor="d2d9cb">  <td>24/04/05 09:59:14</td>   <td>43515</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_LoginTest.TC_001(java.lang.String, java.lang.String)[pri:0, instance:com.automation.testcase.TC_LoginTest@74ea2410]">TC_001</td> 
  <td>main@2095486832</td>   <td></td> </tr>
<tr bgcolor="a4a37a">  <td>24/04/05 09:58:34</td>   <td>3155</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverInstance.closeDriver()[pri:0, instance:com.automation.testcase.TC_LoginTest@74ea2410]">&lt;&lt;closeDriver</td> 
<td>&nbsp;</td>  <td>main@2095486832</td>   <td></td> </tr>
<tr bgcolor="a4a37a">  <td>24/04/05 09:58:41</td>   <td>10206</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverInstance.closeDriver()[pri:0, instance:com.automation.testcase.TC_LoginTest@74ea2410]">&lt;&lt;closeDriver</td> 
<td>&nbsp;</td>  <td>main@2095486832</td>   <td></td> </tr>
<tr bgcolor="a4a37a">  <td>24/04/05 09:58:49</td>   <td>18175</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverInstance.closeDriver()[pri:0, instance:com.automation.testcase.TC_LoginTest@74ea2410]">&lt;&lt;closeDriver</td> 
<td>&nbsp;</td>  <td>main@2095486832</td>   <td></td> </tr>
<tr bgcolor="a4a37a">  <td>24/04/05 09:58:56</td>   <td>24942</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverInstance.closeDriver()[pri:0, instance:com.automation.testcase.TC_LoginTest@74ea2410]">&lt;&lt;closeDriver</td> 
<td>&nbsp;</td>  <td>main@2095486832</td>   <td></td> </tr>
<tr bgcolor="a4a37a">  <td>24/04/05 09:59:02</td>   <td>31383</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverInstance.closeDriver()[pri:0, instance:com.automation.testcase.TC_LoginTest@74ea2410]">&lt;&lt;closeDriver</td> 
<td>&nbsp;</td>  <td>main@2095486832</td>   <td></td> </tr>
<tr bgcolor="a4a37a">  <td>24/04/05 09:59:11</td>   <td>39786</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverInstance.closeDriver()[pri:0, instance:com.automation.testcase.TC_LoginTest@74ea2410]">&lt;&lt;closeDriver</td> 
<td>&nbsp;</td>  <td>main@2095486832</td>   <td></td> </tr>
<tr bgcolor="a4a37a">  <td>24/04/05 09:59:17</td>   <td>46537</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverInstance.closeDriver()[pri:0, instance:com.automation.testcase.TC_LoginTest@74ea2410]">&lt;&lt;closeDriver</td> 
<td>&nbsp;</td>  <td>main@2095486832</td>   <td></td> </tr>
<tr bgcolor="a4a37a">  <td>24/04/05 09:58:27</td>   <td>-4023</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DriverInstance.startDriver()[pri:0, instance:com.automation.testcase.TC_LoginTest@74ea2410]">&gt;&gt;startDriver</td> 
<td>&nbsp;</td>  <td>main@2095486832</td>   <td></td> </tr>
<tr bgcolor="a4a37a">  <td>24/04/05 09:58:34</td>   <td>3332</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DriverInstance.startDriver()[pri:0, instance:com.automation.testcase.TC_LoginTest@74ea2410]">&gt;&gt;startDriver</td> 
<td>&nbsp;</td>  <td>main@2095486832</td>   <td></td> </tr>
<tr bgcolor="a4a37a">  <td>24/04/05 09:58:41</td>   <td>10333</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DriverInstance.startDriver()[pri:0, instance:com.automation.testcase.TC_LoginTest@74ea2410]">&gt;&gt;startDriver</td> 
<td>&nbsp;</td>  <td>main@2095486832</td>   <td></td> </tr>
<tr bgcolor="a4a37a">  <td>24/04/05 09:58:49</td>   <td>18289</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DriverInstance.startDriver()[pri:0, instance:com.automation.testcase.TC_LoginTest@74ea2410]">&gt;&gt;startDriver</td> 
<td>&nbsp;</td>  <td>main@2095486832</td>   <td></td> </tr>
<tr bgcolor="a4a37a">  <td>24/04/05 09:58:56</td>   <td>25082</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DriverInstance.startDriver()[pri:0, instance:com.automation.testcase.TC_LoginTest@74ea2410]">&gt;&gt;startDriver</td> 
<td>&nbsp;</td>  <td>main@2095486832</td>   <td></td> </tr>
<tr bgcolor="a4a37a">  <td>24/04/05 09:59:02</td>   <td>31558</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DriverInstance.startDriver()[pri:0, instance:com.automation.testcase.TC_LoginTest@74ea2410]">&gt;&gt;startDriver</td> 
<td>&nbsp;</td>  <td>main@2095486832</td>   <td></td> </tr>
<tr bgcolor="a4a37a">  <td>24/04/05 09:59:11</td>   <td>39894</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DriverInstance.startDriver()[pri:0, instance:com.automation.testcase.TC_LoginTest@74ea2410]">&gt;&gt;startDriver</td> 
<td>&nbsp;</td>  <td>main@2095486832</td>   <td></td> </tr>
</table>
